{% extends "base.html" %}

{% load static %}

{% block sidenav %}

    {% for item in item_list %}
        {% if item.item == "Favorites" or item.item == "My Books" or item.item == "My Shopping Cart" %}
            {% if user.is_authenticated %}
                <li><a href="{{ item.link }}">{{ item.item }}</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ item.link }}">{{ item.item }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1>Book Delete</h1>
<p>
    Book is deleted successfully!
</p>
{% endblock content %}