{% extends "base.html" %}

{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1>Book Detail</h1>
    <table border="2">
            <tr>
                <th>
                    Book Name
                </th>
                <th>
                    Book Price
                </th>
                <th>
                    Book Web
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Book Post Date
                </th>
                <th>
                    Book Picture
                </th>
            </tr>
            <tr>
                <td>
                    {{ book.name }}
                </td>
                <td>
                    ${{ book.price }}
                </td>
                <td>
                    {{ book.web }}
                </td>
                <td>
                    {{ book.username }}
                </td>
                <td>
                    {{ book.publishdate }}
                </td>
                <td>
                    <img src="{% static book.pic_path %}" width="100" />
                </td>
            </tr>
    </table>
<div class="comments-section">
        <h3>Comments</h3>

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'add_comment' book.id %}">
                {% csrf_token %}
                <textarea name="text" rows="4" cols="50" placeholder="Add a comment..." required></textarea>
                <br>
                <button type="submit">Post Comment</button>
            </form>
        {% else %}
            <p>Please <a href="{% url 'login' %}?next={{ request.path }}">login</a> to add a comment.</p>
        {% endif %}

        <div class="comments-list">
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <p class="comment-meta">
                            <strong>{{ comment.user.username }}</strong> -
                            {{ comment.created_at|date:"F d, Y H:i" }}
                        </p>
                        <p class="comment-text">{{ comment.text }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
        </div>
    </div>

{% endblock content %}
