{% extends "base.html" %}

{% load static %}


{% block sidenav %}
   {% for item in item_list %}
        {% if item.item == "Favorites" or item.item == "My Books" or item.item == "My Shopping Cart" %}
            {% if user.is_authenticated %}
                <li><a href="{{ item.link }}">{{ item.item }}</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ item.link }}">{{ item.item }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock sidenav %}

{% block content %}
 <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 2px solid black; /* Increase border visibility */
        text-align: center;
    }
    .remove-button {
        background-color: red;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
    }
</style>
    <h1>My Shopping Cart</h1>
    <table>
        <tr>
            <th>Book Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
        </tr>
        {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.book.name }}</td>
                <td>${{ cart_item.book.price }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td><a href="{% url 'remove_from_cart' cart_item.id %}" class="remove-button">Remove</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Total Price: ${{ total_price }}</h2>
{% endblock content %}
