{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        {% if item.item == "Favorites" or item.item == "My Books" or item.item == "My Shopping Cart" %}
            {% if user.is_authenticated %}
                <li><a href="{{ item.link }}">{{ item.item }}</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ item.link }}">{{ item.item }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1>Post Book</h1>
    {% if submitted %}
        <h1>Post book successfully!</h1>
    {% else %}
        <form action="" enctype="multipart/form-data" method="post" novalidate>
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_name" class="form-label">Title</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label for="id_author" class="form-label">Author</label>
                {{ form.author }}
            </div>

            <div class="mb-3">
                <label for="id_publisher" class="form-label">Publisher</label>
                {{ form.publisher }}
            </div>

            <div class="mb-3">
                <label for="id_year" class="form-label">Year</label>
                {{ form.year }}
            </div>

            <div class="mb-3">
                <label for="id_isbn" class="form-label">ISBN</label>
                {{ form.isbn }}
            </div>

            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>

            <div class="mb-3">
                <label for="id_price" class="form-label">Price</label>
                {{ form.price }}
            </div>
            <div class="mb-3">
                <label for="id_pages" class="form-label">Pages</label>
                {{ form.pages }}
            </div>

            <div class="mb-3">
                <label for="id_genre" class="form-label">Genre</label>
                {{ form.genre }}
            </div>

            <div class="mb-3">
                <label for="id_picture" class="form-label">Book Cover</label>
                {{ form.picture }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}
{% endblock content %}
